.dash{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: flex-end;
    overflow-y:hidden ;
}
.dashContent{
    /* border: 2px solid black; */
    width: 100%;
    height: calc(100% - 60px);
}